.contact {
	background: whitesmoke;
	width: 75%;
	margin-top: 1% !important;
	margin: 0 auto;
	box-shadow: 10px 10px 5px 0px rgba(204, 200, 204, 1);
	border-radius: 3px;
	padding: 6rem;
	font-size: 1.5rem;
	transform: skewX(-12deg);
}
.text{
  font-weight: 100;
  letter-spacing: 2;
  color: ;
	display: inline-block;
	text-transform: uppercase;
}
.contact_shape {
	width: 15rem;
	height: 15rem;
	float: left;
	shape-outside: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	transform: translateX(-3rem) skewX(12deg);
	position: relative;
	margin-top: -90px;
}

.contact_img {
	left: 0;
	width: 100%;
	transform: scale(1.4);
	transition: all 0.5s;
	backface-visibility: hidden !important;
}
.contact_text {
	transform: skewX(12deg);
}
.contact_caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
	font-size: 1rem;
	text-transform: uppercase;
	opacity: 0;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.contact:hover .contact_caption {
	opacity: 1 !important;
	transform: translate(-50%, -50%) !important;
	backface-visibility: hidden !important;
	border: none;
}

.contact:hover .contact_img {
	transform: scale(1);
	backface-visibility: hidden !important;
	border: none;
}
