.img-gallery{
   padding: 55px;
  
    grid-template-columns: repeat(3,1fr);
    & img{
        width: 250px;
        filter: contrast(0.5);
        &:hover{
            filter: none;
            cursor: pointer;
        }
    }
}