

// home-card

.home-cards{
    display: grid;
    color: black;
    grid-template-columns:repeat(3,1fr);
    margin-bottom: 40px;
    
    grid-gap: 20px;
    & img {
        width: 100%;
        margin-bottom: 20px;
    }

    & h3{
        margin-bottom: 5px;
        font-size: 20px;
        letter-spacing: 1.5px;
        
    }

    & a{
        display: inline-block;
        padding-top: 10px;
        font-size: 8px;
        color: #0067b8;
        text-transform: uppercase;
        font-weight: bold;
        &:hover i{
            margin-left: 10px;
        }
    }
}

