.card{
    width: 200px !important;
    height: 200px;
}

// home-card

.home-cards{
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    color: black;
    grid-template-columns:repeat(3,1fr);

    &-
}

